body {
  background-color: #FFF;
  margin: 10px;
  padding: 50px 60px;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #FE9D00;
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  color: #9e9e9e;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-right: 6.5%;
  text-align: right;
  text-transform: uppercase;
  width:96%;


}

p {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.actions {
  text-align: center;
  margin-top: 30px;
}

.actions a {
  background-color: #9DD1F1;
  border-radius: 3px;
  color: #FE9D00;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#gameboard {
  position: center;
  text-align: center;
  top: 30px;
  width:70%;

}

.pessoa{
  position:relative;
  padding: 10px;
  clear: left;
  left:3.2%;
  display: inline-block;
}

.telefone{
      position:relative;
      left:30.7%;
      display: inline;
      padding: 10px;
}

.icone{
  height: 100px;
  width: 10%;
  display: inline-block;
  clear: left;

}

.card {

  border: 2px solid #9DD1F1;
  display: inline-block;
  height: 200px;
  margin-top: 4px;
  padding: 30px auto;
  text-align: center;
  width: 215px;
  border: 2px solid #919191;
  background-color: #c2c2bf;

}


.card:hover {
  background-color: #c2c2bf;
  border-color: #FE9D00;

}

.card img {
  margin-top: 40px;


}
.image-cropper img{
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}
